.post-container {
    border-radius: 0.5rem 0.5rem 0 0 !important;
  
    .title-and-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  
      .view-post {
        text-decoration: none;
      }
    }
  }
  
  .comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    box-shadow: 0 0 5px 1px #b8b8b8;
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
  
    .comment-container {
      display: flex;
      width: 100%;
      gap: 0.5rem;
      margin-bottom: 0.25rem;
    }
  }