.user-bio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    padding: 1rem;
  }
  
  .user-show {
    width: 90% !important;
  }
  
  .no-posts {
    margin-top: 2rem;
  
    h2 {
      font-size: 2rem;
    }
  }
  
  .user-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 90%;
  
    h2 {
      font-size: 2rem;
    }
  
    .post-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1.5rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
      border-radius: 0.5rem;
      padding: 1rem;
      width: 100%;
  
      .post-interactions {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
      }
    }
  }
  
  .all-posts-button {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
  
    &:hover {
      background: none;
      color: #000;
    }
  }